.App {
  font-family: sans-serif;
  text-align: center;
}
.boxcon {
  height: 500px;
  background-color: rgb(214, 214, 214);
  width: 350px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}
.it {
  height: 35px;
  line-height: 35px;
  background-color: aqua;
}
.boxcon .it:nth-child(odd) {
  background-color: rgb(190, 167, 108);
}
